@model List<MyMvcApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" asp-action="Index">
    <input type="text" name="searchName" placeholder="Search by name" value='@Context.Request.Query["searchName"]' />
    <button type="submit">Search</button>
</form>

<p>
    @Html.ActionLink("Create New", "Create", "User")
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>